/*ESTILOS GENERALES*/
@font-face {
  font-family: 'MiFuenteF1Bold';           
  src: url('../fonts/Formula1-Bold_web_0.ttf') format('truetype');
  font-weight: normal;              
  font-style: normal;              
}

@font-face {
  font-family: 'MiFuenteF1Regular';           
  src: url('../fonts/Formula1-Regular_web_0.ttf') format('truetype');
  font-weight: normal;              
  font-style: normal;              
}

:root {
    --color-primary: #06333D;
    --color-secondary: #F7A817;
    --color-text: #F7EAC4;
}

body {
    background: var(--color-primary);
    font-family: 'MiFuenteF1Bold', Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--color-text);
}

.grid-layout {
    height: 100vh;
    display: grid;
    grid-template-areas: "navbar navbar"
                         "contenido contenido"
                         "footer footer";
    grid-template-rows: auto;
}

.caja {
    background-color: var(--color-primary);
    text-align: center;
    padding: 20px;
}

/*NAVBAR*/
.c1 {
    grid-area: navbar;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 250px;
    font-family: 'MiFuenteF1Regular', Arial, Helvetica, sans-serif;
}

.c1 ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.c1 li a {
    text-decoration: none;
    color: var(--color-text);
}

.c1 li a:hover, 
.c1 li a:focus {
    border-bottom: 2px solid var(--color-secondary);
}

.c1 li a.activo {
    border-bottom: 2px solid var(--color-secondary);
}

/*CONTENIDO*/
.c2 {
    grid-area: contenido;
    background-color: var(--color-primary);
}

.c2_contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(2, auto);   /* 2 filas */
    gap: 30px 40px; /* espacio entre filas y columnas */
    margin-top: 30px;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.c2 h1 {
    display: inline-block;
    border-bottom: 2.5px solid var(--color-secondary);
}

.c2 h3 {
    display: inline-block;
    border-bottom: 2.5px solid var(--color-secondary);
    margin-bottom: 20px;
    margin-top: 20px;
}

.cajita {
    border: 2px solid var(--color-secondary);
    border-radius: 12px;
    padding: 25px;
    box-sizing: border-box;
    background: var(--color-primary);
    color: var(--color-text);
}

.cajita i {
    margin-right: 10px;
    color: var(--color-text);
    font-size: 2rem;
}

.cajita i:hover {
    color: var(--color-secondary);
}

.cajita a {
    display: flex;
    justify-content: center;
}

.cajita ul li {
  margin-bottom: 12px;
}

.hora {
    font-family: 'MiFuenteF1Regular', Arial, Helvetica, sans-serif;
}

.c2 li a {
    font-family: 'MiFuenteF1Regular', Arial, Helvetica, sans-serif;
}

/*FOOTER*/
.c3 {
    grid-area: footer;
    background-color: var(--color-primary);
}

.c3_contenido h4 {
    font-family: 'MiFuenteF1Regular', Arial, Helvetica, sans-serif;
}

.contenido_iconos_c3 {
    grid-area: navbar;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0 250px;
    font-family: 'MiFuenteF1Regular', Arial, Helvetica, sans-serif;
}

.contenido_iconos_c3 ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.contenido_iconos_c3 li a {
    text-decoration: none;
    color: var(--color-text);
}

.redes {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.redes li a {
    color: var(--color-text);
    font-size: 30px;
    transition: color 0.3s;
}

.redes li a:hover {
    color: var(--color-secondary);
}

.contacto {
    list-style: none;
    padding: 0;
}

.contacto li {
    margin-bottom: 10px;
}

.contacto i {
    margin-right: 10px;
    color: var(--color-text);
    font-size: 30px;
}

.contacto li i:hover {
    color: var(--color-secondary);
}

.web:hover {
    color: var(--color-secondary);
}

/*SEPARADOR*/
.separador {
    width: 95%;
    height: 2px;
    background-color: var(--color-secondary);
    margin: 0 auto 20px;
}

/*BOTON SUBIR*/
.btn-subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-secondary);
  color: #fff;
  font-size: 1.2rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.btn-subir:hover {
  transform: translateY(-4px);
  background: var(--color-text);
  color: var(--color-secondary);
}

.btn-subir.visible {
  opacity: 1;
  pointer-events: auto;
}

/*ANIMAIZACION AL HACER SCROLL*/
/* Animación de aparición */
.caja,
.cajita {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}

.caja.visible,
.cajita.visible {
  opacity: 1;
  transform: translateY(0);
}
